<h1><%= gettext "Change Password"%></h1>

<%= render "changepasswordform.html", Map.put(assigns, :action, Routes.user_path(@conn, :updatepassword)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :profile) %></span>
