<h1><%=gettext "New User"%></h1>

<%= render "register.html", Map.put(assigns, :action, Routes.user_path(@conn, :create_register)) %>

<span><%= link "Back", to: Routes.session_path(@conn, :new) %></span>
